ENVIRONMENT=
BACKEND_URL=
FRONTEND_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
DATABASE_URL=
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/playlist_recommender
REDIS_URL=
SECRET_KEY=
ANTHROPIC_API_KEY=
